@charset "utf-8";
*{
  margin: 0px;
  padding: 0px;
}
.cor-navbar{
    background-color: #00c2e4;
}
.nav-margin{
  margin: -15px 0px 10px 0px;
}
.title-cards-teste{
  font-size: 150%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 0.5rem;
}
.card-body li{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  padding: 2px;
}
.card-body span{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2px;
}
.card-body button{
  display: flex;
  margin: 10px 0px 0px 0px ;
}
.card{
    width: 100%;  
}
.card-body{
    width: 100%;
}

.card-model {
  width: 100%;
  
}
.tamanho-fonte{
  font-size: 12pt;
}
@media (min-width: 576px) { /* Para telas SM e maiores */
  .card-model {
    width: 50%;
  }
}

@media (min-width: 992px) { /* Para telas LG e maiores */
  .card-model {
    width: 25%;
  }
}

@media (min-width: 1200px) { /* Para telas XL e maiores */
  .card-model {
    width: calc(140% / 6); /* Aproximadamente 16.67% */
  }
}
