@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
/**/
.cor-navbar {
  background-color: #00c2e4;
}
.nav-margin {
  margin: -15px 0px 10px 0px;
}
.title-cards-teste {
  font-size: 150%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  height: 60px;
}
.card-body li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  padding: 2px;
}
.card-body span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2px;
}
.card-body button {
  display: flex;
  margin: 10px 0px 0px 0px;
}
.card {
  width: 100%;
}
.card-body {
  width: 100%;
}

.card-model {
  width: 100%;
  text-align: center;
}
.tamanho-fonte {
  font-size: 12pt;
}
.footer {
  background-color: #000;
  width: 100%;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1rem;
  place-items: center;
}
.titulo-footer {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
#midias-sociais {
  display: flex;
  flex-direction: column;
}
#redes-sociais {
  display: flex;
  gap: 2rem;
  margin-bottom: 5px;
}
.footer-link {
  border-width: 0cm;
  border-style: solid;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 50%;
}
#frase-footer {
  font-size: 12px;
  margin-bottom: 5px;
}
#whatsapp {
  background-color: #25d366;
}
#instagram {
  background-color: #9c25d3;
}
#facebook {
  background-color: #0044ff;
}
#endereco-link {
  gap: 5px;
  display: flex;
  align-content: center;
}
#contatos {
  display: flex;
  flex-direction: column;
}
.lista-footer {
  list-style: none;
}

.list-p-size {
  font-size: 13px;
}

@media screen and (max-width: 426px) {
  .footer {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
  }

  #midias-sociais,
  #endereco,
  #contatos {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #redes-sociais {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  #frase-footer {
    font-size: 15px;
    margin-top: 0.5rem;
  }

  #endereco-link {
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    text-align: center;
  }

  .titulo-footer {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .list-p-size {
    font-size: 15px;
  }

  .footer-link {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  /* Para telas SM e maiores */
  .card-model {
    width: 50%;
  }
}

@media (min-width: 992px) {
  /* Para telas LG e maiores */
  .card-model {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  /* Para telas XL e maiores */
  .card-model {
    width: calc(140% / 6); /* Aproximadamente 16.67% */
  }
}
