@charset "utf-8";
.cor-navbar{
    background-color: #2F242C;
}
.title-cards-teste{
  font-size: 150%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 0.5rem;
}
.card-body li{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  padding: 2px;
}
.card-body span{
   font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2px;
}
.card-body button{
  display: flex;
  margin: 10px 0px 0px 0px ;
}
.card{
    width: 100%;  
}
.card-body{
    width: 100%;
}

.card-model {
  width: 100%;
  
}

.footer {
  background-color: #000;
  height: 20rem;
  width: 100%;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 3.5rem;
  justify-content:space-around;
}
#midias-sociais {
  display: flex;
  flex-direction: column;
  
}
#redes-sociais {
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
}
.footer-link {
  border-width: 0cm;
  border-style: solid;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  text-decoration: none;align-items: center;
  justify-content: center; border-style: solid;
  border-radius: 50%;
}
#whatsapp {
  background-color: #25D366; 
}
#instagram {
  background-color: #9c25d3;
}
#facebook {
  background-color: #0044ff;
}
@media (min-width: 576px) { /* Para telas SM e maiores */
  .card-model {
    width: 50%;
  
}

@media (min-width: 992px) { /* Para telas LG e maiores */
  .card-model {
    width: 25%;
  }
}

@media (min-width: 1200px) { /* Para telas XL e maiores */
  .card-model {
    width: calc(140% / 6); /* Aproximadamente 16.67% */
  }
}